<html>
<head>
    <title>Хонда каталог</title>
</head>
<body>

    <br />

    <table class="table table-light table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Ccылки
                </th>
                <th>
                    Примечания
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>
                    <a href="/vehicle/vin?vin=JHMED73600S205949">/vehicle/vin?vin=JHMED73600S205949</a>
                </td>
                <td>    Получение списка автомобилей по VIN  </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <a href="/image?image_id=Yamato.jpg">/image?image_id=Yamato.jpg</a>
                </td>
                <td>
                    Получение картинки
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    <a href="/models">/models</a>
                </td>
                <td>
                    Список моделей
                </td>
            </tr>

            <tr>
                <td>4</td>
                <td>
                    <a href="/mgroups?vehicle_id=8030">/mgroups?vehicle_id=8030</a>
                </td>
                <td>
                    Получение груп запчастей по авто
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <a href="/vehicle?vehicle_id=8030&group_id=19SELKD1_ATM0810&lang=EN">/vehicle?vehicle_id=8030&group_id=19SELKD1_ATM0810&lang=EN</a>
                </td>
                <td>
                    Список деталей в группе
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>
                    <a href="/vehicle/sgroups?vehicle_id=8030&group_id=2_2_19SELKD1&code_lang=EN">/vehicle/sgroups?vehicle_id=8030&group_id=2_2_19SELKD1&code_lang=EN</a>
                </td>
                <td>
                    Получение подгруп запчастей по авто  
                </td>
            </tr>

            <tr>
                <td>7</td>
                <td>
                    <a href="/ﬁlters?modelId=ACCORD AERODECK_1996_5_1H">/ﬁlters?modelId=ACCORD AERODECK_1996_5_1H</a>
                </td>
                <td>
                    Список фильтров
                </td>
            </tr>

            <tr>
                <td>8</td>
                <td>
                    <a href="/ﬁlter-cars?modelId=ACCORD AERODECK_1996_5_1H&param=5MT&param=KG&param=F22B5&page=1&page_size=10">
                        /ﬁlter-cars?modelId=ACCORD AERODECK_1996_5_1H&param=5MT&param=KG&param=F22B5&page=1&page_size=10
                    </a>
                </td>
                <td>
                    Список авто, которые соответствуют выбранным фильтрам
                </td>
            </tr>

            <tr>
                <td>9</td>
                <td>
                    <a href="/vehicleAttr?vehicle_id=91">
                        /vehicleAttr?vehicle_id=91
                    </a>
                </td>
                <td>
                    Получение информации по авто
                </td>
            </tr>

            <tr>
                <td>10</td>
                <td>
                    <a href="/locales">/locales</a>
                </td>
                <td>
                    Список языков БД
                </td>
            </tr>

            <tr>
                <td>11</td>
                <td>
                    <a href="/vehicle/wmi">/vehicle/wmi</a>
                </td>
                <td>
                    Список wmi хонды
                </td>
            </tr>

            <tr>
                <td>12</td>
                <td>
                    <a href="/vehicle/sgroups?codes=1101&codes=1301&codes=1501&codes=1601&node_ids=1102&node_ids=1701">/vehicle/sgroups?codes=1101&codes=1301&codes=1501&codes=1601&node_ids=1102&node_ids=1701</a>
                </td>
                <td>
                    Получение узлов, POST! <br />
                </td>
            </tr>

        </tbody>
    </table>

</body>
</html>
