@using HondaCatalog2.Models.Dto
@model HondaCatalog2.Models.Dto.VehiclePropArr

<html>
<head>
    <title>Получение информации по авт</title>
</head>
<body>

    <span style="font-weight:700;">Название модели: </span> &nbsp;&nbsp;&nbsp;<span>@Model.model_name</span>

    <br />
    <table class="table table-light table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    code
                </th>
                <th>
                    name
                </th>
                <th>
                    value
                </th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.attributes.Count; i++)
            {
                <tr>
                    <td>
                        @Model.attributes[i].code
                    </td>
                    <td>
                        @Model.attributes[i].name
                    </td>
                    <td>
                        @Model.attributes[i].value
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>


